# --- Environnement ---
.env

*.pyc


# --- Django Cache ---
*/_pycache_/
_pycache_/
*.py[cod]

# Django cache folder (si tu utilises FileBasedCache)
cache/
*/cache/

# --- SQLite database ---
db.sqlite3
db.sqlite3-journal

# --- Django logs et fichiers temporaires ---
*.log
*.pot
*.mo

# --- Migrations compilées ou inutiles ---
*.sqlite3